.banner-wrapper {
  position: relative;
}
.banner-wrapper .banner {
  width: 100%;
  min-height: 300px;
  background-image: url("../images/banner/1.jpg");
  background-size: cover;
  background-position: 0% 50%;
}
@media (min-width: 768px) {
  .banner-wrapper .banner {
    min-height: 500px;
  }
}

@media (min-width: 992px) {
  .banner-wrapper .banner {
    min-height: 100vh;
  }
}
