@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&family=Playfair+Display:ital,wght@1,500&display=swap");
:root {
  --jost: "Jost", sans-serif;
  --playfair: "Playfair Display", serif;
  --black: rgba(22, 22, 22, 1);
}
*,
html {
  transition: all 0.5s;
}
body {
  font-family: var(--jost);
  color: var(--black);
}
.heading {
  font-family: var(--playfair);
}

/* font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif; */
